<section class="about" id="about">
  <div class="about-container container">
    <div class="about-title-wrapper">
      <h2>About <span class="word-span">the</span> Game</h2>
      <img
        src="img/vectors/dt-vector-rose-left.svg"
        alt="vector"
        class="about-vector-dt-left"
      />
      <img
        src="img/vectors/dt-vector-rose-right.svg"
        alt="vector"
        class="about-vector-dt-right"
      />

      <svg xmlns="http://www.w3.org/2000/svg" class="about-vector-mobile-left" width="62" height="4" viewBox="0 0 62 4" fill="none">
  <path d="M60 3.5C60.8284 3.5 61.5 2.82843 61.5 2C61.5 1.17157 60.8284 0.5 60 0.5L60 3.5ZM7.67821e-10 3.5L60 3.5L60 0.5L-7.67821e-10 0.5L7.67821e-10 3.5Z" fill="url(#paint0_linear_2210_467)"/>
  <defs>
    <linearGradient id="paint0_linear_2210_467" x1="2.5594e-10" y1="2.5" x2="60" y2="2.5" gradientUnits="userSpaceOnUse">
      <stop stop-color="white"/>
      <stop offset="1" stop-color="#E0768C"/>
    </linearGradient>
  </defs>
</svg>
      <!-- <img
        src="img/vectors/mobile-vector-rose-left.svg"
        alt="vector"
        class="about-vector-mobile-left"
      /> -->
      <!-- <img
        src="img/vectors/mobile-vector-rose-right.svg"
        alt="vector"
        class="about-vector-mobile-right"
      />
    </div> -->
    <svg xmlns="http://www.w3.org/2000/svg" class="about-vector-mobile-right" width="59" height="4" viewBox="0 0 59 4" fill="none">
  <path d="M57 3.5C57.8284 3.5 58.5 2.82843 58.5 2C58.5 1.17157 57.8284 0.5 57 0.5L57 3.5ZM1.38746e-09 3.5L57 3.5L57 0.5L-1.38746e-09 0.5L1.38746e-09 3.5Z" fill="url(#paint0_linear_2210_468)"/>
  <defs>
    <linearGradient id="paint0_linear_2210_468" x1="4.62486e-10" y1="2.5" x2="57" y2="2.5" gradientUnits="userSpaceOnUse">
      <stop stop-color="#F6976E"/>
      <stop offset="1" stop-color="white"/>
    </linearGradient>
  </defs>
</svg>
    <p>
      <span class="paragraph-span"> Puppy Diary: Epic Match 3 </span>is a fun and heartwarming match-3
      puzzle game where players join a cute puppy on a colorful journey through
      various levels filled with exciting challenges. Match blocks, clear
      obstacles, and help your puppy collect treats and toys. With each level,
      unlock new abilities and encounter charming characters as you progress
      through the game.
    </p>
  </div>
</section>
