<section class="about">
  <div class="about-container container">
    <div class="about-title-wrapper">
      <h2>About <span class="word-span">the</span> Game</h2>
      <img
        src="../img/Vector header dt.svg"
        alt="vector"
        class="about-vector-dt"
      />
      <img
        src="../img/Vector header.svg"
        alt="vector"
        class="about-vector-mobile"
      />
    </div>
    <p>
      <span> Puppy Diary: Epic Match 3 </span>is a fun and heartwarming match-3
      puzzle game where players join a cute puppy on a colorful journey through
      various levels filled with exciting challenges. Match blocks, clear
      obstacles, and help your puppy collect treats and toys. With each level,
      unlock new abilities and encounter charming characters as you progress
      through the game.
    </p>
  </div>
</section>
