<section class="features" id="features">
  <div class="features-container container">
    <div class="features-tittle-wrapper">
      <h2>Game Features</h2>
      <img
        src="img/dog-dt-1x min.png"
        alt="dog"
        width="72"
        height="69"
        class="features-img"
      />
      <img
        src="img/vectors/dt-vector-orange-left.svg"
        alt="vector"
        class="features-vector-dt-left"
      />
      <img
        src="img/vectors/dt-vector-orange-right.svg"
        alt="vector"
        class="features-vector-dt-right"
      />
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="37"
        height="4"
        class="features-vector-mobile-left"
        viewBox="0 0 37 4"
        fill="none"
      >
        <path
          d="M35 3.5C35.8284 3.5 36.5 2.82843 36.5 2C36.5 1.17157 35.8284 0.5 35 0.5V3.5ZM0 3.5H35V0.5H0V3.5Z"
          fill="url(#paint0_linear_2210_503)"
        />
        <defs>
          <linearGradient
            id="paint0_linear_2210_503"
            x1="0"
            y1="2.5"
            x2="35"
            y2="2.5"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="white" />
            <stop offset="0.5" stop-color="#DB8421" />
          </linearGradient>
        </defs>
      </svg>
      <!-- <img
        src="img/vectors/mobile-vector-orange-left.svg"
        alt="vector"
        class="features-vector-mobile-left"
      /> -->
    </div>
    <div class="features-list-wrapper">
      <div class="white-gradient-left"></div>
      <ul class="features-list">
        <li class="features-list-item">
          <span>Explore </span>a world full of vibrant colors, adorable puppies,
          and fun challenges.
        </li>
        <li class="features-list-item">
          <span>Play</span> hundreds of levels with diverse puzzles and evolving
          objectives.
        </li>
        <li class="features-list-item">
          <span>Unlock</span> special puppy powers and boosters to help you on
          your journey.
        </li>
        <li class="features-list-item width-item">
          <span>Enjoy</span> a cute and engaging storyline filled with charming
          characters and puppy adventures.
        </li>
        <li class="features-list-item width-item">
          <span>Take part</span> in special events and challenges for extra
          rewards and exciting content
        </li>
      </ul>
      <div class="white-gradient-right"></div>
    </div>
  </div>
</section>
