<section class="features" id="features">
  <div class="features-container container">
    <div class="features-tittle-wrapper">
      <h2>Game Features</h2>
      <img
        src="img/dog-dt-1x min.png"
        alt="dog"
        width="72"
        height="69"
        class="features-img"
      />
      <img
        src="img/vectors/dt-vector-orange-left.svg"
        alt="vector"
        class="features-vector-dt-left"
      />
      <img
        src="img/vectors/dt-vector-orange-right.svg"
        alt="vector"
        class="features-vector-dt-right"
      />

      <img
        src="img/vectors/mobile-vector-orange-left.svg"
        alt="vector"
        class="features-vector-mobile-left"
      />
    </div>
    <div class="features-list-wrapper">
      <ul class="features-list">
        <li class="features-list-item">
          <span>Explore </span>a world full of vibrant colors, adorable puppies,
          and fun challenges.
        </li>
        <li class="features-list-item">
          <span>Play</span> hundreds of levels with diverse puzzles and evolving
          objectives.
        </li>
        <li class="features-list-item">
          <span>Unlock</span> special puppy powers and boosters to help you on
          your journey.
        </li>
        <li class="features-list-item">
          <span>Enjoy</span> a cute and engaging storyline filled with charming
          characters and puppy adventures.
        </li>
        <li class="features-list-item">
          <span>Take part</span> in special events and challenges for extra
          rewards and exciting content
        </li>
      </ul>
    </div>
  </div>
</section>
