<footer class="footer">
  <div class="footer-container container">
    <img
      src="img/vectors/Vector header.svg"
      alt="vector"
      class="img-footer-mobile"
    />
    <img
      src="img/vectors/Vector header dt.svg"
      alt="vector"
      class="img-footer-dt"
    />
    <p class="footer-desc">All rights reserved joyfulstargame.com | 2024</p>
    <div class="terms-wrapper">
      <a href="pages/privacyPolicy.html">Privacy policy</a>
      <p>&nbsp;/&nbsp;</p>
      <a href="pages/termsOfService.html">Terms and conditions</a>
    </div>
  </div>
</footer>
