<div class="gallery-container">
  <div class="title-wrapper">
    <!-- <svg class="line" width="103" height="4">
      <use href="../img/svg/left-line.svg"></use>
    </svg> -->
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="105"
      height="4"
      viewBox="0 0 105 4"
      fill="none"
    >
      <path
        d="M103 3.5C103.828 3.5 104.5 2.82843 104.5 2C104.5 1.17157 103.828 0.5 103 0.5L103 3.5ZM7.67821e-10 3.5L103 3.5L103 0.5L-7.67821e-10 0.5L7.67821e-10 3.5Z"
        fill="url(#paint0_linear_235_320)"
      />
      <defs>
        <linearGradient
          id="paint0_linear_235_320"
          x1="2.5594e-10"
          y1="2.5"
          x2="103"
          y2="2.5"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="white" />
          <stop offset="0.5" stop-color="#DF748D" />
        </linearGradient>
      </defs>
    </svg>
    <h2 class="title">Gallery</h2>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="105"
      height="4"
      viewBox="0 0 105 4"
      fill="none"
    >
      <path
        d="M103 3.5C103.828 3.5 104.5 2.82843 104.5 2C104.5 1.17157 103.828 0.5 103 0.5L103 3.5ZM7.67821e-10 3.5L103 3.5L103 0.5L-7.67821e-10 0.5L7.67821e-10 3.5Z"
        fill="url(#paint0_linear_235_321)"
      />
      <defs>
        <linearGradient
          id="paint0_linear_235_321"
          x1="2.5594e-10"
          y1="2.5"
          x2="103"
          y2="2.5"
          gradientUnits="userSpaceOnUse"
        >
          <stop offset="0.5" stop-color="#F6976D" />
          <stop offset="1" stop-color="white" />
        </linearGradient>
      </defs>
    </svg>
  </div>

  <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <img
            class="gallery-image"
            srcset="
              ../img/gallery/variant-4.png    1x,
              ../img/gallery/variant-4@2x.png 2x
            "
            src="../img/gallery/variant-4.png"
            alt="Gallery game image variant 4"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture
          ><img
            class="gallery-image"
            srcset="
              ../img/gallery/variant-3.png    1x,
              ../img/gallery/variant-3@2x.png 2x
            "
            src="../img/gallery/variant-3.png"
            alt="Gallery game image variant 3"
            loading="lazy"
        /></picture>
      </div>
      <div class="swiper-slide">
        <picture
          ><img
            class="gallery-image"
            srcset="
              ../img/gallery/variant-2.png    1x,
              ../img/gallery/variant-2@2x.png 2x
            "
            src="../img/gallery/variant-2.png"
            alt="Gallery game image variant 2"
            loading="lazy"
        /></picture>
      </div>
      <div class="swiper-slide">
        <picture
          ><img
            class="gallery-image"
            srcset="
              ../img/gallery/variant-default.png    1x,
              ../img/gallery/variant-default@2x.png 2x
            "
            src="../img/gallery/variant-default.png"
            alt="Gallery game image variant default"
            loading="lazy"
        /></picture>
      </div>
      <div class="swiper-slide">
        <picture
          ><img
            class="gallery-image"
            srcset="
              ../img/gallery/variant-5.png    1x,
              ../img/gallery/variant-5@2x.png 2x
            "
            src="../img/gallery/variant-5.png"
            alt="Gallery game image variant 5"
            loading="lazy"
        /></picture>
      </div>
      <div class="swiper-slide">
        <picture
          ><img
            class="gallery-image"
            srcset="
              ../img/gallery/variant-6.png    1x,
              ../img/gallery/variant-6@2x.png 2x
            "
            src="../img/gallery/variant-6.png"
            alt="Gallery game image variant 6"
            loading="lazy"
        /></picture>
      </div>
      <div class="swiper-slide">
        <picture
          ><img
            class="gallery-image"
            srcset="
              ../img/gallery/variant-7.png    1x,
              ../img/gallery/variant-7@2x.png 2x
            "
            src="../img/gallery/variant-7.png"
            alt="Gallery image variant 7"
            loading="lazy"
        /></picture>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
