<div class="gallery-container">
  <div class="title-wrapper">
    <svg class="line" width="103" height="4">
      <use href="../img/line.svg"></use>
    </svg>
    <h2 class="title">Gallery</h2>
    <svg class="line" width="103" height="4">
      <use href="../img/line.svg"></use>
    </svg>
  </div>

  <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <picture>
          <img
            class="gallery-image"
            srcset="
              ../img/gallery/variant-4.png    1x,
              ../img/gallery/variant-4@2x.png 2x
            "
            src="../img/gallery/variant-4.png"
            alt="Gallery game image variant 4"
            loading="lazy"
          />
        </picture>
      </div>
      <div class="swiper-slide">
        <picture
          ><img
            class="gallery-image"
            srcset="
              ../img/gallery/variant-3.png    1x,
              ../img/gallery/variant-3@2x.png 2x
            "
            src="../img/gallery/variant-3.png"
            alt="Gallery game image variant 3"
            loading="lazy"
        /></picture>
      </div>
      <div class="swiper-slide">
        <picture
          ><img
            class="gallery-image"
            srcset="
              ../img/gallery/variant-2.png    1x,
              ../img/gallery/variant-2@2x.png 2x
            "
            src="../img/gallery/variant-2.png"
            alt="Gallery game image variant 2"
            loading="lazy"
        /></picture>
      </div>
      <div class="swiper-slide">
        <picture
          ><img
            class="gallery-image"
            srcset="
              ../img/gallery/variant-default.png    1x,
              ../img/gallery/variant-default@2x.png 2x
            "
            src="../img/gallery/variant-default.png"
            alt="Gallery game image variant default"
            loading="lazy"
        /></picture>
      </div>
      <div class="swiper-slide">
        <picture
          ><img
            class="gallery-image"
            srcset="
              ../img/gallery/variant-5.png    1x,
              ../img/gallery/variant-5@2x.png 2x
            "
            src="../img/gallery/variant-5.png"
            alt="Gallery game image variant 5"
            loading="lazy"
        /></picture>
      </div>
      <div class="swiper-slide">
        <picture
          ><img
            class="gallery-image"
            srcset="
              ../img/gallery/variant-6.png    1x,
              ../img/gallery/variant-6@2x.png 2x
            "
            src="../img/gallery/variant-6.png"
            alt="Gallery game image variant 6"
            loading="lazy"
        /></picture>
      </div>
      <div class="swiper-slide">
        <picture
          ><img
            class="gallery-image"
            srcset="
              ../img/gallery/variant-7.png    1x,
              ../img/gallery/variant-7@2x.png 2x
            "
            src="../img/gallery/variant-7.png"
            alt="Gallery image variant 7"
            loading="lazy"
        /></picture>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
