<section class="container gameVideo-container">
  <div class="title-wrapper">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="line-small left">
      <path
        d="M60 3.5C60.8284 3.5 61.5 2.82843 61.5 2C61.5 1.17157 60.8284 0.5 60 0.5V3.5ZM0 3.5H60V0.5H0L0 3.5Z"
        fill="url(#paint0_linear_295_86)"
      />
      <defs>
        <linearGradient
          id="paint0_linear_295_86"
          x1="0"
          y1="2.5"
          x2="60"
          y2="2.5"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="white" />
          <stop offset="1" stop-color="#F4B807" />
        </linearGradient>
      </defs>
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="450"
      height="4"
      viewBox="0 0 450 4"
      fill="none"
      class="line-large left"
    >
      <path
        d="M448 3.5C448.828 3.5 449.5 2.82843 449.5 2C449.5 1.17157 448.828 0.5 448 0.5V3.5ZM0 3.5L448 3.5V0.5L0 0.5L0 3.5Z"
        fill="url(#paint0_linear_366_233)"
      />
      <defs>
        <linearGradient
          id="paint0_linear_366_233"
          x1="0"
          y1="2.5"
          x2="448"
          y2="2"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="white" />
          <stop offset="1" stop-color="#FBBC04" />
        </linearGradient>
      </defs>
    </svg>

    <h2 class="gameVideo-title">Game Video</h2>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      class="line-small right"
    >
      <path
        d="M2 2L62 2"
        stroke="url(#paint0_linear_295_87)"
        stroke-width="3"
        stroke-linecap="round"
      />
      <defs>
        <linearGradient
          id="paint0_linear_295_87"
          x1="2"
          y1="2.5"
          x2="62"
          y2="2.5"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FBBC04" />
          <stop offset="1" stop-color="white" />
        </linearGradient>
      </defs>
    </svg>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="454"
      height="4"
      viewBox="0 0 454 4"
      fill="none"
      class="line-large right"
    >
      <path
        d="M2 2H452"
        stroke="url(#paint0_linear_366_234)"
        stroke-width="3"
        stroke-linecap="square"
      />
      <defs>
        <linearGradient
          id="paint0_linear_366_234"
          x1="4.62646"
          y1="2.5"
          x2="452"
          y2="2.5"
          gradientUnits="userSpaceOnUse"
        >
          <stop stop-color="#FBBC04" />
          <stop offset="1" stop-color="white" />
        </linearGradient>
      </defs>
    </svg>
  </div>
</section>
