<header class="header js-header container">
  <div class="header-container">
    <button class="goHome-mob">
      <svg class="go-home-icon" height="40" width="40">
        <use href="../img/svg/symbol-defs.svg#icon-go-home"></use>
      </svg>
      Go home page
    </button>
    <img
      src="../img/vectors/Vector header.svg "
      alt="vector"
      width="316"
      height="40"
      class="mobile-vector-header"
    />

    <img
      src="../img/vectors/Vector header dt.svg"
      alt="vector"
      class="desktop-vector-header"
      height="40"
      width="1196"
    />
  </div>
</header>
