<header class="header js-header container">
  <div class="header-container">
    <nav class="header-nav">
      <a class="logo-header" href="./index.html">
        <img src="/img/logoGame.png" alt="logo" width="65" height="40" />
      </a>
      <ul class="nav-menu">
        <li><a class="nav-link" href="#home">Home</a></li>
        <li><a class="nav-link" href="#gallery">Gallery</a></li>
        <li><a class="nav-link" href="#about">About the Game</a></li>
        <li><a class="nav-link" href="#howToPlay">How to Play</a></li>
        <li><a class="nav-link" href="#features">Game Features</a></li>
      </ul>
    </nav>
    <h3 class="header-text">Play Now</h3>

    <button type="button" class="download-btn">
      <img src="img/svg/Playstore.svg" alt="Playstore" class="google-icon" />
      <div class="btn-download-wrapper">
        GET IT ON
        <img
          src="img/svg/GooglePlay.svg"
          alt="GooglePlay"
          class="google-text"
        />
      </div>
    </button>
  </div>
  <!-- Кнопка бургера для мобильной версии -->
  <button class="mobile-menu-btn" type="button">
    <svg class="mobile-menu-icon" height="40" width="40">
      <use href="img/svg/symbol-defs.svg#icon-burger"></use>
    </svg>
  </button>

  <img
    src="img/vectors/Vector header.svg"
    alt="vector"
    width="316"
    height="40"
    class="mobile-vector-header"
  />

  <img
    src="img/vectors/Vector header dt.svg"
    alt="vector"
    class="desktop-vector-header"
    height="40"
    width="1196"
  />

  <!-- Мобильное меню -->
  <div class="mobile-menu-bg is-close">
    <div class="mobile-menu-overlay">
      <div class="mob-menu-header-wrapper">
        <img
          src="img/logo-mob.png"
          alt="logo"
          width="40"
          height="40"
          class="mob-menu-logo"
        />
        <h3 class="mob-menu-text">Play Now</h3>
        <button class="close-menu-btn" type="button">
          <svg class="menu-icon" height="40" width="40">
            <use href="img/svg/symbol-defs.svg#icon-close-btn"></use>
          </svg>
        </button>
        <img
          src="img/Vector header.svg"
          alt="vector"
          width="316"
          height="40"
          class="mobile-vector-header"
        />
      </div>

      <ul class="nav-list-mob">
        <li class="nav-item-mob-active">
          <a class="nav-item-link-mob" href="#home">Home</a>
        </li>
        <li class="nav-item-mob">
          <a class="nav-item-link-mob" href="#gallery">Gallery</a>
        </li>
        <li class="nav-item-mob">
          <a class="nav-item-link-mob" href="#about">About the Game</a>
        </li>
        <li class="nav-item-mob">
          <a class="nav-item-link-mob" href="#howToPlay">How to Play</a>
        </li>
        <li class="nav-item-mob">
          <a class="nav-item-link-mob" href="#features">Game Features</a>
        </li>
      </ul>

      <div class="img-wrapper-mob-menu">
        <img
          src="img/bg-img 1x-min.png"
          alt="bg-img"
          height="201"
          width="191"
          class="bg-img"
        />
        <button class="mob-menu-btn-download" type="button">
          <img src="img/svg/Playstore.svg" alt="Playstore" />
          <div class="btn-download-wrapper-mob">
            GET IT ON
            <img src="img/svg/GooglePlay.svg" alt="GooglePlay" />
          </div>
        </button>
      </div>
    </div>
  </div>
</header>
