<header class="header js-header">
  <div class="container header-container">
    <nav class="header-nav">
      <a class="logo-header" href="./index.html"
        ><img src="../img/logoGame.png" alt="logo"
      /></a>
      <ul class="nav-menu">
        <li><a class="nav-link" href="#home">Home</a></li>
        <li><a class="nav-link" href="#gallery">Gallery</a></li>
        <li><a class="nav-link" href="#about">About the Game</a></li>
        <li><a class="nav-link" href="#howToPlay">How to Play</a></li>
        <li><a class="nav-link" href="#features">Game Features</a></li>
      </ul>
    </nav>
    <button type="button" class="open-menu-btn">
      BTN
      <!-- <svg class="burg-icon" width="22" height="16">
        <use href="./img/icons.svg#header-burger"></use>
      </svg> -->
    </button>
  </div>
</header>
