<section class="hero" id="home">
  <div class="hero-container container">
    <div class="info-wrapper">
      <h2>Puppy Diary: Epic Match 3</h2>
      <p>
        Embark on a delightful match-3 adventure with your loyal puppy friend!
      </p>
    </div>
    <div class="img-wrapper">
      <div class="img-grid">
        <div class="grid-img-wrapper-1">
          <img
            src="img/hero-grid/bg 1-1x-min.png"
            alt="grid-img"
            class="grid-img-bg-1"
          />
          <img
            src="img/hero-grid/bg 15-1x-min.png"
            alt="grid-img"
            class="grid-img-bg-2"
          />
        </div>
        <div class="grid-img-wrapper-2">
          <img
            src="img/hero-grid/bg 8-1x-min.png"
            alt="grid-img"
            class="grid-img-bg-3"
          />
          <img
            src="img/hero-grid/bg 2-1x-min.png"
            alt="grid-img"
            class="grid-img-bg-4"
          />
          <img
            src="img/hero-grid/bg 14-1x-min.png"
            alt="grid-img"
            class="grid-img-bg-5"
          />
        </div>
        <div class="grid-img-wrapper-3">
          <img
            src="img/hero-grid/bg 7-1x-min.png"
            alt="grid-img"
            class="grid-img-bg-6"
          />
          <img
            src="img/hero-grid/bg 4-1x-min.png"
            alt="grid-img"
            class="grid-img-bg-7"
          />
          <img
            src="img/hero-grid/bg 12-1x-min.png"
            alt="grid-img"
            class="grid-img-bg-8"
          />
          <img
            src="img/hero-grid/bg 13-1x-min.png"
            alt="grid-img"
            class="grid-img-bg-9"
          />
        </div>
        <div class="grid-img-wrapper-4">
          <img
            src="img/hero-grid/bg 2-1x-min.png"
            alt="grid-img"
            class="grid-img-bg-10"
          />
          <img
            src="img/hero-grid/bg 5-1x-min.png"
            alt="grid-img"
            class="grid-img-bg-11"
          />
          <img
            src="img/hero-grid/bg 10-1x-min.png"
            alt="grid-img"
            class="grid-img-bg-12"
          />
          <img
            src="img/hero-grid/bg 11-1x-min.png"
            alt="grid-img"
            class="grid-img-bg-13"
          />
        </div>
        <div class="grid-img-wrapper-5">
          <img
            src="img/hero-grid/bg 6-1x-min.png"
            alt="grid-img"
            class="grid-img-bg-14"
          />
          <img
            src="img/hero-grid/bg 9-1x-min.png"
            alt="grid-img"
            class="grid-img-bg-15"
          />
        </div>
      </div>
      <div class="img-container-hero">
        <div class="img-hero-girl-black-wrapper">
          <img
            src="img/svg/buterfly1.svg"
            alt="vector"
            width="62"
            height="59"
            class="img-hero-btf1"
          />
          <img
            src="img/svg/butterfly2.svg"
            alt="vector"
            width="84"
            height="61"
            class="img-hero-btf2"
          />
          <img
            class="img-hero-girl-black"
            src="img/bg-img 1x-min.png"
            alt="hero-girl-black"
            width="296"
            height="309"
          />
        </div>
        <div class="img-hero-girl-collor-wrapper">
          <img
            src="img/svg/bf-collor-2.svg"
            alt="vector"
            width="62"
            height="59"
            class="img-hero-btf1-collor"
          />
          <img
            src="img/svg/bf-collor-1.svg"
            alt="vector"
            width="84"
            height="61"
            class="img-hero-btf2-collor"
          />
          <img
            class="img-hero-girl-collor"
            src="img/hero-girl 1x-min.png"
            alt="hero-girl"
            width="258"
            height="300"
          />
        </div>
      </div>
      <button
        type="button"
        class="header-mob-btn-download"
        id="headerMobBtnDownload"
      >
        <img src="img/svg/Playstore.svg" alt="Playstore" class="google-icon" />
        <div class="btn-download-wrapper">
          GET IT ON
          <img
            src="img/svg/GooglePlay.svg"
            alt="GooglePlay"
            class="google-text"
          />
        </div>
      </button>
    </div>
  </div>
</section>
