<section class="hero" id="#home">
  <div class="hero-container container">
    <div class="info-wrapper">
      <h2>Puppy Diary: Epic Match 3</h2>
      <p>
        Embark on a delightful match-3 adventure with your loyal puppy friend!
      </p>
    </div>
    <div class="img-wrapper">
      <div class="img-grid">
        <img src="" alt="" />
      </div>
      <img
        src="../img/hero-girl 1x-min.png"
        alt="hero-girl"
        width="258"
        height="300"
      />
      <button type="button" class="header-mob-btn-download">
        <img
          src="../img/svg/Playstore.svg"
          alt="Playstore"
          class="google-icon"
        />
        <div class="btn-download-wrapper">
          GET IT ON
          <img
            src="../img/svg/GooglePlay.svg"
            alt="GooglePlay"
            class="google-text"
          />
        </div>
      </button>
    </div>
  </div>
</section>
