:root {
  font-family: Nunito;
  font-size: 24px;
  line-height: 1.5;
  font-weight: 500;

  color: #000;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body,
main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

h2 {
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
}

p,
h1,
h2 {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  h2 {
    font-size: 48px;
  }
}
