.container {
  max-width: 320px;
  margin: 0 auto;
  padding: 0px 10px;
}

/* Стили для десктопных устройств, начиная с ширины 1200px */
@media only screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    /* padding: 56px 0; */
  }
}
