.features-tittle-wrapper {
  margin-bottom: 32px;
  position: relative;
  h2 {
    color: #db8421;
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.features-list-wrapper {
  overflow: hidden;
}
.features-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 64px;
  animation: scroll 10s linear infinite alternate;
}
@keyframes scroll {
  0% {
    transform: translateX(30px); /* Начальная позиция */
  }
  100% {
    transform: translateX(-115%); /* Прокрутка до конца */
  }
}

.features-list-item {
  width: 300px;
  height: 79px;
  flex-shrink: 0;
  border-radius: 15px;
  border: none;
  border: 1px solid #db8421;
  background: #db8421;
  color: #fff;
  font-family: Nunito;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  padding: 16px;
  text-align: center;

  span {
    font-family: Poppins;
    font-weight: 600;
  }
}

.features-vector-mobile-left {
  position: absolute;
  top: 50%;
  left: 3%;
  transform: translate(-50%, -50%);
  width: 37px;
  height: 4px;
  z-index: -1;
}
.features-vector-dt-left {
  position: absolute;
  top: 50%;
  left: 17%;
  transform: translate(-50%, -50%);
  width: 418px;
  z-index: -1;
}
.features-vector-dt-right {
  position: absolute;
  top: 50%;
  right: -20%;
  transform: translate(-50%, -50%);
  width: 418px;
  z-index: -1;
}

.features-vector-dt-left {
  display: none;
}
.features-vector-dt-right {
  display: none;
}

.features-vector-mobile-left {
  display: block;
}

.features-img {
  position: absolute;
  top: -15px;
  transform: translate(365%);
  transition: transform 0.3s ease, top 0.3s ease, left 0.3s ease;
}

/* Стили для десктопной версии (от 1200px и больше) */
@media only screen and (min-width: 1200px) {
  .features-tittle-wrapper {
    margin-bottom: 56px;
    h2 {
      font-size: 48px;
    }
  }

  .features-vector-dt-right {
    display: block;
  }
  .features-vector-dt-left {
    display: block;
  }

  .features-vector-mobile-left {
    display: none;
  }

  .features-img {
    height: 115px;
    width: 120px;
    position: absolute;
    top: -20px;
    transform: translate(635%);
    transition: transform 0.3s ease, top 0.3s ease, left 0.3s ease;
  }

  .features-img:hover {
    transform: translate(625%) scale(1.1);
    top: -10px;
  }

  .features-list-wrapper {
    padding: 30px 0;
    overflow: hidden;
    width: 100%;
    position: relative;
  }

  .features-list {
    display: flex;
    gap: 50px;
    animation: scroll 10s linear infinite alternate;
  }

  .features-list-item {
    justify-content: center;
    padding: 24px 16px;
    min-width: 451px;
    height: auto;
    flex-shrink: 0;
    white-space: wrap;
    font-size: 24px;
    box-shadow: -12px 7px 24px 0 rgba(219, 132, 33, 0.487);
  }
  .width-item {
    width: 550px;
  }
  /* Анимация маятника */
  @keyframes scroll {
    0% {
      transform: translateX(80px); /* Начальная позиция */
    }
    100% {
      transform: translateX(-135%); /* Прокрутка до конца */
    }
  }

  .white-gradient-left,
  .white-gradient-right {
    position: absolute;
    z-index: 5;
    width: 80px;
    height: 220px;
    background: linear-gradient(
      92deg,
      #fff 17.06%,
      rgba(255, 255, 255, 0.85) 38.87%,
      rgba(255, 255, 255, 0.61) 60.21%,
      rgba(255, 255, 255, 0.37) 82.51%,
      rgba(255, 255, 255, 0) 98.6%
    );
  }

  .white-gradient-right {
    right: 0;
    top: -30px;
    rotate: 180deg;
  }

  .white-gradient-left {
    left: 0;
    top: -30px;
  }
}
