.gallery-container {
  margin: 16px 0 64px;
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.title {
  background: linear-gradient(90deg, #de728d 19.01%, #f7986a 80.99%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.line {
  overflow: visible;
  flex-shrink: 0;
}

/** Swiper Styles **/

.swiper.mySwiper {
  width: 320px;
  height: 380px;
  overflow: hidden;
}

.swiper .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  margin: 10px;
  fill: #d9d9d9;
}

.swiper .swiper-pagination-bullet-active {
  width: 20px;
  height: 20px;
  background: linear-gradient(90deg, #df748d 0%, #f6976c 100%);
  filter: drop-shadow(-2px 3px 5px rgba(0, 0, 0, 0.5));
}

.swiper-wrapper {
  top: 43px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-slide {
  width: 138px !important;
  height: 219px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease;
}

.swiper-slide-active {
  width: 192px !important;
  height: 305px !important;
  margin-top: -47px;
}

@media screen and (min-width: 1200px) {
  .gallery-container {
    /* margin: 16px 0 64px; */
    max-width: 1200px;
  }
}
