.header {
  padding: 23px 80px 21px 80px;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-header {
  margin-right: 84px;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  gap: 57px;
}
.nav-link {
}
.open-menu-btn {
  display: flex;
  width: 120px;
  height: 40px;
  padding: 5px 10px 5px 8px;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border-radius: 6px;
  border: 1px solid #fff;
  background: #fff;
  box-shadow: 1px 4px 5px 0px rgba(0, 0, 0, 0.3);
}
