.hero-container {
  padding: 54px 10px;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  h2 {
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(90deg, #dd708d 13.83%, #fb9f62 91.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 10px;
  }
  p {
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 10px;
  }
}

.img-hero-girl-collor {
  width: 300px;
  height: 258px;
}

.header-mob-btn-download {
  display: flex;
  width: 120px;
  height: 40px;
  padding: 5px 10px 5px 8px;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border-radius: 6px;
  border: none;
  background: #fff;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  color: #000;
  font-family: PT Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  /* Центрирование кнопки по горизонтали и вертикали */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10; /* Устанавливаем z-index на 10 для слоя кнопки */

  .btn-download-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
  }
  .google-text {
    transition: filter 0.3s;
  }

  &:hover {
    background: #000;
    color: #fff;
    border: none;

    .google-text {
      filter: invert(1);
    }

    .google-text {
      filter: invert(1);
    }
  }
}

.img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.img-hero-girl-black-wrapper {
  display: none;
}

/* сетка */
.img-wrapper {
}
.img-grid {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  overflow: hidden;
  
}
.grid-img-wrapper-1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
  img {
    width: 138px;
    height: 20px;
    border-radius: 5px;
    box-shadow: -3px 6px 10px 0px rgba(0, 0, 0, 0.8);
  }
}
.grid-img-wrapper-2 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  img {
    height: 20px;
    border-radius: 5px;
  }
  .grid-img-bg-3 {
    width: 84px;
    box-shadow: -3px 6px 10px 0px rgba(0, 0, 0, 0.8);
  }
  .grid-img-bg-4 {
    width: 84px;
    margin-right: 32px;
  }
  .grid-img-bg-5 {
    width: 120px;
  }
}
.grid-img-wrapper-3 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  img {
    width: 84px;
    height: 20px;
    border-radius: 5px;
  }

  .grid-img-bg-7 {
    box-shadow: -3px 6px 10px 0px rgba(0, 0, 0, 0.8);
    margin-right: 32px;
  }
  .grid-img-bg-8 {
    box-shadow: -3px 6px 10px 0px rgba(0, 0, 0, 0.8);
  }
}
.grid-img-wrapper-4 {
  display: flex;
  flex-direction: row;
  gap: 132px;
  img {
    width: 84px;
    height: 20px;
    border-radius: 5px;
  }

  .grid-img-bg-10 {
    display: none;
  }
  .grid-img-bg-13 {
    display: none;
  }
}
.grid-img-wrapper-5 {
  display: flex;
  flex-direction: row;
  gap: 24px;
  img {
    width: 138px;
    height: 20px;
    border-radius: 5px;
    box-shadow: -3px 6px 10px 0px rgba(0, 0, 0, 0.8);
  }
}
/* Стили для десктопной версии (от 1200px и больше) */
@media only screen and (min-width: 1200px) {
  .hero-container {
    padding: 82px 0;
  }

  .img-hero-girl-collor {
    width: 357px;
    height: 309px;
  }

  .info-wrapper {
    h2 {
      font-size: 48px;
    }
    p {
      font-size: 24px;
      width: 509px;
    }
    margin-bottom: 28px;
  }

  .img-hero-girl-black-wrapper {
    display: flex;
    position: relative;

    .img-hero-btf2 {
      position: absolute;
      top: 0;
      left: -50px;
    }

    .img-hero-btf1 {
      position: absolute;
      top: 50%;
      right: -30px;
      transform: translateY(-50%) rotate(-22deg);
    }
  }

  .img-hero-girl-collor-wrapper {
    display: flex;
    position: relative;

    .img-hero-btf2-collor {
      position: absolute;
      top: 0;
      left: -10px;
    }

    .img-hero-btf1-collor {
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%) rotate(-22deg);
    }
  }

  /* анимация */
  .img-container-hero {
    position: relative;
    width: 357px;
    height: 309px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
  }

  .img-hero-girl-black-wrapper,
  .img-hero-girl-collor-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease;
  }

  .img-hero-girl-black-wrapper {
    opacity: 1;
    z-index: 2;
  }

  .img-hero-girl-collor-wrapper {
    opacity: 0;
    z-index: 1;
  }

  .img-container-hero:hover .img-hero-girl-black-wrapper {
    opacity: 0;
  }

  .img-container-hero:hover .img-hero-girl-collor-wrapper {
    opacity: 1;
  }

  .img-hero-btf2 {
    position: absolute;
    top: 0;
    left: -50px;
  }

  .img-hero-btf1 {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%) rotate(-22deg);
  }

  .img-hero-btf2-collor {
    position: absolute;
    top: 0;
    left: -10px;
    transform: rotate(-10deg);
  }

  .img-hero-btf1-collor {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%) rotate(-22deg);
  }
}
