.hero-container {
  padding: 54px 10px;
  overflow: hidden;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  h2 {
    text-align: center;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background: linear-gradient(90deg, #dd708d 13.83%, #fb9f62 91.5%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0 10px;
  }
  p {
    color: #000;
    text-align: center;
    font-family: Nunito;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0 10px;
  }
}

.header-mob-btn-download {
  display: flex;
  width: 120px;
  height: 40px;
  padding: 5px 10px 5px 8px;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border-radius: 6px;
  border: none;
  background: #fff;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  color: #000;
  font-family: PT Sans;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  position: absolute;
  top: 90px;

  z-index: 2;

  .btn-download-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
  }
  .google-text {
    transition: filter 0.3s;
  }

  &:hover {
    background: #000;
    color: #fff;
    border: none;

    .google-text {
      filter: invert(1);
    }

    .google-text {
      filter: invert(1);
    }
  }
}

.header-mob-btn-download {
  /* display: none; */
}

.img-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.img-hero-girl-black-wrapper {
  display: none;
}
.img-hero-btf2-collor {
  display: none;
}
.img-hero-btf1-collor {
  display: none;
}

.img-container-hero {
  position: absolute;
  top: -10px;
  left: 50%;
  /* left: 612px; */
  transform: translateX(-50%);
  text-align: center;
  z-index: 1;
}
.img-wrapper {
  position: relative;
}

.img-grid {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  overflow: hidden;
  padding: 22px 0;
  overflow: visible;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.img-common {
  height: 20px;
  border-radius: 5px;
}

.img-shadow {
  box-shadow: -3px 6px 10px 0 rgba(0, 0, 0, 0.8);
}

.grid-img-wrapper-1,
.grid-img-wrapper-2,
.grid-img-wrapper-3,
.grid-img-wrapper-4,
.grid-img-wrapper-5 {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.grid-img-wrapper-1 {
  gap: 20px;
}
.grid-img-wrapper-2 {
  transform: translateX(-40px);
}

.grid-img-wrapper-4 {
  gap: 132px;
}

.grid-img-wrapper-5 {
  gap: 24px;
}

/* Применяем тень и размеры для нужных элементов напрямую */
.grid-img-wrapper-1 img,
.grid-img-wrapper-5 img {
  width: 138px;
  height: 20px;
  border-radius: 5px;
  box-shadow: -3px 6px 10px 0 rgba(0, 0, 0, 0.8);
}

.grid-img-wrapper-2 img,
.grid-img-wrapper-3 img,
.grid-img-wrapper-4 img {
  width: 84px;
  height: 20px;
  border-radius: 5px;
}

.grid-img-wrapper-2 .grid-img-bg-3,
.grid-img-wrapper-3 .grid-img-bg-7,
.grid-img-wrapper-3 .grid-img-bg-8 {
  box-shadow: -3px 6px 10px 0 rgba(0, 0, 0, 0.8);
}

.grid-img-wrapper-2 .grid-img-bg-3 {
  width: 84px;
}

.grid-img-wrapper-2 .grid-img-bg-4 {
  width: 84px;
  margin-right: 32px;
}

.grid-img-wrapper-2 .grid-img-bg-5 {
  width: 120px;
}

.grid-img-wrapper-3 .grid-img-bg-7 {
  margin-right: 32px;
}

.grid-img-wrapper-4 .grid-img-bg-10,
.grid-img-wrapper-4 .grid-img-bg-13 {
  display: none;
}

/* Стили для десктопной версии (от 1200px и больше) */
@media only screen and (min-width: 1200px) {
  .hero-container {
    padding: 82px 0;
  }

  .img-hero-girl-collor {
    width: 357px;
    height: 309px;
  }

  .info-wrapper {
    h2 {
      font-size: 48px;
    }
    p {
      font-size: 24px;
      width: 509px;
    }
    margin-bottom: 28px;
  }

  .header-mob-btn-download {
    display: flex;
  }

  .img-hero-girl-black-wrapper {
    display: flex;
    position: relative;

    .img-hero-btf2 {
      position: absolute;
      top: 0;
      left: -50px;
    }

    .img-hero-btf1 {
      position: absolute;
      top: 50%;
      right: -30px;
      transform: translateY(-50%) rotate(-22deg);
    }
  }

  .img-hero-girl-collor-wrapper {
    display: flex;
    position: relative;

    .img-hero-btf2-collor {
      display: block;
      position: absolute;
      top: 0;
      left: -10px;
    }

    .img-hero-btf1-collor {
      display: block;
      position: absolute;
      top: 50%;
      right: -10px;
      transform: translateY(-50%) rotate(-22deg);
    }
  }

  /* анимация */
  .img-container-hero {
    position: absolute;
    width: 357px;
    height: 309px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
    top: 50px;
  }

  .img-hero-girl-black-wrapper,
  .img-hero-girl-collor-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease;
  }

  /* .img-hero-girl-black-wrapper {
    opacity: 1;
    z-index: 2;
  }

  .img-hero-girl-collor-wrapper {
    opacity: 0;
    z-index: 1;
  }

  .img-container-hero:hover .img-hero-girl-black-wrapper {
    opacity: 0;
  }

  .img-container-hero:hover .img-hero-girl-collor-wrapper {
    opacity: 1;
  } */

  /* Изначальное состояние */
  .img-hero-girl-black-wrapper {
    opacity: 1; /* Черно-белое изображение видно */
    z-index: 2; /* Оно сверху */
    transition: opacity 0.5s ease; /* Плавный переход при наведении */
  }

  .img-hero-girl-collor-wrapper {
    opacity: 0; /* Цветное изображение скрыто */
    z-index: 1; /* Оно под черно-белым */
    transition: opacity 0.5s ease; /* Плавный переход при наведении */
  }

  /* Анимация при наведении на .img-wrapper */
  .img-wrapper:hover .img-hero-girl-black-wrapper {
    opacity: 0; /* Черно-белое изображение исчезает */
  }

  .img-wrapper:hover .img-hero-girl-collor-wrapper {
    opacity: 1; /* Цветное изображение появляется */
  }

  .img-hero-btf2 {
    position: absolute;
    top: 0;
    left: -50px;
  }

  .img-hero-btf1 {
    position: absolute;
    top: 50%;
    right: -30px;
    transform: translateY(-50%) rotate(-22deg);
  }

  .img-hero-btf2-collor {
    position: absolute;
    top: 0;
    left: -10px;
    transform: rotate(-10deg);
  }

  .img-hero-btf1-collor {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%) rotate(-22deg);
  }

  /* сетка */

  .img-grid {
    gap: 24px;
    padding: 28px 0;
    img {
      height: 55px;
      border-radius: 10px;
    }
  }

  .grid-img-wrapper-1,
  .grid-img-wrapper-2,
  .grid-img-wrapper-3,
  .grid-img-wrapper-4,
  .grid-img-wrapper-5 {
    display: flex;
    flex-direction: row;
    gap: 23px;
  }

  .grid-img-wrapper-1 {
    gap: 290px;
    .grid-img-bg-1 {
      width: 331px;
    }
    .grid-img-bg-2 {
      width: 419px;
    }
  }
  .grid-img-wrapper-2 {
    transform: translateX(-80px);
    .grid-img-bg-3 {
      width: 253px;
    }
    .grid-img-bg-4 {
      width: 253px;
      margin-right: 378px;
    }

    .grid-img-bg-5 {
      width: 331px;
    }
  }

  .grid-img-wrapper-3 {
    img {
      width: 242px;
    }

    .grid-img-bg-7 {
      margin-right: 557px;
    }
  }

  .grid-img-wrapper-4 {
    gap: 23px;

    .grid-img-bg-10,
    .grid-img-bg-11,
    .grid-img-bg-12,
    .grid-img-bg-13 {
      width: 243px;
      height: 55px;
      display: block;
    }
    .grid-img-bg-12 {
      margin-left: 379px;
    }
  }

  .grid-img-wrapper-5 {
    gap: 291px;
    .grid-img-bg-14,
    .grid-img-bg-15 {
      width: 330px;
    }
  }

  .header-mob-btn-download {
    top: 180px;
  }
  .img-container-hero {
    left: 612px;
  }
}
