.howToPlay-title {
  background: linear-gradient(90deg, #d76796 0%, #fb9f62 100%);
  background-clip: text;
  -webkit-background-clip: text;
}
#howToPlay {
  padding-top: 100px;
  margin-top: -100px;
}

.howToPlay-container .title-wrapper {
  margin-bottom: 12px;
}

.instructions-container {
  display: inline-flex;
  align-items: center;
}

.instructions-container .instruction-wrapper {
  display: none;
  position: relative;
  margin-left: 20px;
  border-radius: 15px;
  color: #fff;

  &:nth-child(1) {
    border: 1px solid #66a5d3;
    background-color: #66a5d3;
    box-shadow: -12px 7px 24px 0px rgba(102, 165, 211, 0.5);
  }

  &:nth-child(2) {
    border: 1.5px solid #fb9f62;
    background: #fb9f62;
    box-shadow: -12px 7px 24px 0px rgba(251, 159, 98, 0.8);
  }

  &:nth-child(3) {
    border: 1.5px solid #7ac928;
    background: #7ac928;
    box-shadow: -12px 7px 24px 0px rgba(122, 201, 40, 0.8);
  }

  &:nth-child(4) {
    border: 1.5px solid #fbbc04;
    background: #fbbc04;
    box-shadow: -12px 7px 24px 0px rgba(251, 188, 4, 0.8);
  }

  &:nth-child(5) {
    border: 1.5px solid #af71ff;
    background: #af71ff;
    box-shadow: -12px 7px 24px 0px rgba(175, 113, 255, 0.8);
  }

  &:nth-child(6) {
    border: 1.5px solid #ff78b6;
    background: #ff78b6;
    box-shadow: -12px 7px 24px 0px rgba(255, 120, 182, 0.8);
  }
}

.circle-number {
  position: absolute;
  left: -20px;
  top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: inherit;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #fff;
  border-radius: 50%;
  backdrop-filter: blur(12.5px);
}

.instruction-text {
  width: 280px;
  height: 115px;
  align-items: center;
  display: flex;
  font-family: Nunito;
  font-size: 15px;
  padding: 10px;
}

.arrow-wrapper {
  display: flex;
  justify-content: space-between;
  width: 192px;
  margin: 0 auto 64px;
}

.arrow-button {
  padding: 10px;
  background-color: transparent;
  border: none;
}

.arrow-button:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.arrow {
  width: 30px;
  height: 26px;
}

.arrow-button:focus .arrow {
  transform: scale(1.1);
}

.howToPlay-container .title-wrapper .line-small {
  height: 4px;
  width: 65px;
}

@media screen and (max-width: 1199px) {
  .instructions-container {
    width: 320px;
    height: 177px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1200px) {
  .howToPlay-container .title-wrapper {
    margin-bottom: 56px;
  }

  .instructions-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 52px;
    margin: 0 80px 80px;
  }

  .instructions-container .instruction-wrapper {
    display: block;
    margin: 0;

    &:nth-child(1):hover {
      color: #66a5d3;
    }

    &:nth-child(2):hover {
      color: #fb9f62;
    }

    &:nth-child(3):hover {
      color: #7ac928;
    }

    &:nth-child(4):hover {
      color: #fbbc04;
    }

    &:nth-child(5):hover {
      color: #af71ff;
    }

    &:nth-child(6):hover {
      color: #ff78b6;
    }

    &:hover {
      background: #fff;
      box-shadow: none;
    }
  }

  .circle-number {
    width: 56px;
    height: 56px;
    font-size: 24px;
  }

  .instructions-container .instruction-wrapper:hover .circle-number {
    font-size: 30px;
  }

  .instruction-wrapper:nth-child(1):hover .circle-number {
    border: 1px solid #66a5d3;
  }

  .instruction-wrapper:nth-child(2):hover .circle-number {
    border: 1px solid #fb9f62;
  }

  .instruction-wrapper:nth-child(3):hover .circle-number {
    border: 1px solid #7ac928;
  }

  .instruction-wrapper:nth-child(4):hover .circle-number {
    border: 1px solid #fbbc04;
  }

  .instruction-wrapper:nth-child(5):hover .circle-number {
    border: 1px solid #af71ff;
  }

  .instruction-wrapper:nth-child(6):hover .circle-number {
    border: 1px solid #ff78b6;
  }

  .instruction-text {
    width: 419px;
    height: 150px;
    font-size: 24px;
    padding: 21px 24px;
  }

  .arrow-wrapper {
    display: none;
  }

  @keyframes smoothColorCycle {
    0%,
    100% {
      background-image: linear-gradient(90deg, #d76796, #fb9f62);
    }
    14.29% {
      background-image: linear-gradient(90deg, #66a5d3, #66a5d3);
    }
    28.58% {
      background-image: linear-gradient(90deg, #fb9f62, #fb9f62);
    }
    42.87% {
      background-image: linear-gradient(90deg, #7ac928, #7ac928);
    }
    57.16% {
      background-image: linear-gradient(90deg, #fbbc04, #fbbc04);
    }
    71.45% {
      background-image: linear-gradient(90deg, #af71ff, #af71ff);
    }
    85.74% {
      background-image: linear-gradient(90deg, #ff78b6, #ff78b6);
    }
  }

  .howToPlay-title {
    background-image: linear-gradient(90deg, #d76796 0%, #fb9f62 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: smoothColorCycle 11s infinite;
    display: inline-block;
  }

  @keyframes lineColorCycle {
    0%,
    100% {
      fill: linear-gradient(90deg, #d76796 0%, #fb9f62 100%);
    }
    14.29% {
      fill: #66a5d3;
    }
    28.58% {
      fill: #fb9f62;
    }
    42.87% {
      fill: #7ac928;
    }
    57.16% {
      fill: #fbbc04;
    }
    71.45% {
      fill: #af71ff;
    }
    85.74% {
      fill: #ff78b6;
    }
  }

  .howToPlay-container .title-wrapper .line-large {
    width: 440px;
    max-width: 440px;
  }

  .howToPlay-container .title-wrapper .line-large path {
    animation: lineColorCycle 11s infinite;
  }
}
