.howToPlay-title {
  background: linear-gradient(90deg, #d76796 0%, #fb9f62 100%);
  background-clip: text;
  -webkit-background-clip: text;
}

/* .instructions-container {
  display: flex;
  gap: 38px;
} */

.instruction-wrapper {
  position: relative;
  width: 280px;
  height: 115px;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 24px;
  border-radius: 15px;

  &:nth-child(1) { 
    border: 1px solid #66a5d3;
    background-color: #66a5d3;
    box-shadow: -12px 7px 24px 0px rgba(102, 165, 211, 0.5);
  }

  &:nth-child(2) {
border: 1.5px solid #FB9F62;
background: #FB9F62;
box-shadow: -12px 7px 24px 0px rgba(251, 159, 98, 0.80);
  }

  &:nth-child(3) {
border: 1.5px solid #7AC928;
background: #7AC928;
box-shadow: -12px 7px 24px 0px rgba(122, 201, 40, 0.80);
  }

  &:nth-child(4) {
border: 1.5px solid #FBBC04;
background: #FBBC04;
box-shadow: -12px 7px 24px 0px rgba(251, 188, 4, 0.80);
padding: 8px 5px;
  }

  &:nth-child(5) {
border: 1.5px solid #AF71FF;
background: #AF71FF;
box-shadow: -12px 7px 24px 0px rgba(175, 113, 255, 0.80);
  }

  &:nth-child(6) {
border: 1.5px solid #FF78B6;
background: #FF78B6;
box-shadow: -12px 7px 24px 0px rgba(255, 120, 182, 0.80);
  }
  /* &:hover,
&:focus {
} */
}

.circle-number {
  position: absolute;
  left: -20px;
top: -20px;
display: flex;
justify-content: center;
align-items: center;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: inherit;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  border: 1px solid #fff;
  border-radius: 50%;
  backdrop-filter: blur(12.5px);
}

.instruction-text {
  color: #fff;
  font-family: Nunito;
  font-size: 15px;
  padding: 13px 20px;
}

/* @media screen and (min-width: 1200px) {
  .instruction-text {
    color: #fff;
    font-family: Nunito;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 24px;
  }
} */